* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  /* background-color: rgb(252 243 234); */
  background-color: rgb(170 143 126 / 12%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4vw;
  background-color: #2f2a27b8;
}
.logo h1 {
  font-size: 1.8em;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: white;
}
nav.menu li {
  list-style: none;
}
nav.menu > ul {
  margin: 0px;
  text-decoration: none;
  padding: 15px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.menu a {
  color: #eae2d8;
  text-decoration: none;
  display: block;
  padding: 0px 1vw;
  font-size: 0.8em;
  font-family: "Raleway";
}

.cart-navbar {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}
.cart-navbar button {
  border: none;
  background: none;
  padding: 0px 2vw;
  color: white;
  font-weight: 100;
}
.cart-navbar i {
  color: white;
  font-weight: 100;
}
/* .cart-container {
  position: absolute;
  z-index: 999;
  background-color: white;
  color: black;
  height: auto;
  width: 63.5vw;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: auto;
  left: 33vw;
  padding: 4vw;
  pointer-events: none;
  box-shadow: -2px 5px 10px 0px rgb(0 0 0 / 65%);
} */
.cart-container {
  position: absolute;
  z-index: 999;
  left: 28vw;
  width: 65vw;
}
.minicart {
  background-color: white;
  color: black;
  box-shadow: -2px 5px 10px 0px rgb(0 0 0 / 65%);
  padding: 4vw;
  overflow-y: scroll;
  max-height: 50vh;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6dfdf;
}
.item-list {
  max-height: 20vh;
}
.cart-container img {
  height: 6vh;
  margin: 3vw;
  min-width: 40px;
  max-width: 30px;
}
.cart-container h5 {
  text-align: center;
}
.item-title {
  margin: 0px 3vw;
  font-size: 0.8rem;
  text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.buttons-container {
  display: -webkit-inline-box;
  margin-top: 2vh;
}
.buttons-container button {
  border: none;
  background: none;
  margin: 0px 2vw;
  pointer-events: all;
}

.cartContainer Button {
  padding-bottom: 0px;
}
.cartItem {
  background-color: #f8f9fa;
  display: flex;
  border-radius: 3px;
}

.itemInCart {
  padding: 10px;
}
.total-container {
  margin-top: 4vh;
}
.checkout-btn {
  margin-top: 3vh;
  width: 100%;
  background-color: #c3a78b;
  /* border-radius: 5px; */
  padding: 4px;
  border: none;
  color: black;
  font-weight: 500;
  pointer-events: all;
}
.checkout-btn:hover {
  background-color: #6d5e4f;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  padding: 0px 5vw;
}
.search-container a {
  pointer-events: none;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}
input#search-bar::placeholder {
  /* padding-left: 5vw; */
}

.search-icon {
  margin-left: -13vw;
  margin-top: 6vh;
}
.search-icon i {
  color: #a7a5a2;
}
.input-search {
  padding: 4vh 5vw 0vh 5vw;
  width: 100%;
}

.hero {
  background-image: url("./passenger.jpg");
  background-size: cover;
  background-position: center;
  height: 33vh;
  background-position-y: 2px;
  background-repeat: no-repeat;
}

input {
  width: 50%;
  font-size: 1.2 rem;
  color: grey;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  padding: 10%;
  /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%); */
  /* -webkit-box-shadow: 9px 7px 20px 4px rgba(0, 0, 0, 0.77);
  box-shadow: 9px 7px 20px 4px rgba(0, 0, 0, 0.77); */
  box-shadow: 0px 1px 7px 1px rgb(232 232 232);
}
.content-product {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
/* .product:hover {
  -webkit-box-shadow: 0px 14px 20px 1px rgb(134 133 13);
  box-shadow: 0px 14px 20px 1px rgb(134 133 13);
} */

.product img {
  width: 100%;
  align-items: center;
  vertical-align: top;

  /* max-width: 116px; */
}
.productList {
  padding: 3vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 5vw;
  grid-auto-rows: minmax(100px, auto);
}
.productTitle {
  text-align: center;
  margin-top: 20px;
}
.priceProduct {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}
.addButton {
  margin-top: 2vh;
  /* background: rgb(241, 197, 73);
  background: linear-gradient(
    137deg,
    rgba(241, 197, 73, 1) 0%,
    rgba(241, 197, 73, 1) 10%,
    rgba(216, 141, 23, 1) 83%
  ); */
  background-color: rgb(195 167 139);
  border: none;
  border-radius: 20px;
  padding: 3%;
}
.addButton:hover {
  background-color: #6d5e4f;
}
.footer {
  background-color: #696563;
  height: 10vh;
  display: flex;
  align-items: center;
}
.footer i {
  display: flex;
  width: 100%;
  margin-left: 42vw;
  font-size: 21px;
  color: #ddd5cc;
}

@media only screen and (min-width: 600px) {
  .productList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
    padding: 20px 37px;
  }
  .search-container {
    padding: 0px 6vw;
  }

  .cart-container {
    width: 58vw;
    left: 35vw;
  }
  .hero {
    background-position-y: -43px;
    height: 42vh;
  }
}

@media only screen and (min-width: 850px) {
  .productList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 25px 47px;
    grid-column-gap: 30px;
  }
  .search-container {
    padding: 0px 4vw;
  }
  .search-icon {
    margin-left: -13vw;
  }
  .cart-container {
    width: 55vw;
    left: 40vw;
    padding: 2vw;
  }
  .cart-container img {
    height: initial;
    min-width: 62px;
    max-width: 30px;
  }
  .buttons-container {
    margin-top: 0;
  }
  .hero {
    background-position-y: -80px;
    height: 48vh;
  }
  .footer {
    height: 15vh;
  }
  .footer i {
    margin-left: 46vw;
  }
}
@media only screen and (min-width: 1200px) {
  .cart-navbar button {
    padding: 0px 1vw;
  }
  .cart-container {
    width: 36vw;
    padding: 0px;
    left: 58vw;
  }
  .cart-container h5 {
    margin-top: 25px;
  }
  .cart-container img {
    margin: 3vh 2vw;
  }

  .hero {
    background-position-y: -25vh;
    height: 71vh;
  }
  .item-title {
    margin: 0;
    height: auto;
    font-size: 1em;
  }
  .productTitle {
    font-size: 1.1em;
  }
  .minicart {
    overflow-y: scroll;
    padding: 2vw;
    max-height: 60vh;
  }
  .buttons-container {
    margin-right: 30px;
    margin-top: 0px;
  }
  .buttons-container button {
    margin: 0px 1vw;
  }
  .total-container {
    margin-left: 2vw;
  }
  .checkout-btn {
    border-radius: initial;
    padding: 15px;
  }
  .productList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 61px;
    grid-column-gap: 3vw;
  }
  .search-container {
    padding: 0px 3vw;
  }

  .footer i {
    margin-left: 48vw;
  }
}
